
// Department pages
.logos {
	//@include grid-row();

	.logo{
	
	}
	
}

.logos-wrapper {
	background:#fff;
	}

.dept-news{
    background: #fff;
    padding: 1em;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin-right: 1em;
	p:last-child{
		margin-bottom:0;
		}
	}
	
.content-image-box{
    margin-bottom:1em;
}
	
.content-text-box{
    padding: 1em;
	p:last-child{
		margin-bottom:0;
		}
	}
.content-box-wrapper{
    background: #eee;
}
	
	
	