.home .site-header{
margin-bottom:2em;
}

.department_block {
padding:1em;
background:#fff;
margin-bottom: 0.4em;
}

.front-promos {
	margin-left:0;
	li{
	list-style-type:none;
	padding:0;
	padding-right:3rem;
	}
}
