.footer-container {
	max-width: 100%;
	width: 100%;
	border-top: 1px solid #ccc;
	background-color:$harveys-primary-color;
	padding:rem-calc(40);
	color:#F3F0ED;
	
	

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}


	a,label{
	color:#F3F0ED;
	}

	a:hover{
	color:#F3F0ED;
	text-decoration:none;
	}
	
	article{
		@include breakpoint(small only){
		margin-bottom: 2rem;
		border-bottom: 1px dotted #fff;
		padding-bottom: 3rem;
		}
		@include breakpoint(medium only){
		padding-left:0.5em;
		padding-right:0.5em;
		}
	}

	.social_media_wrap {
	margin-top:20px;
	}


	.social_media_entry {
	position: relative;
	}

	.social_media_txt {
	position: absolute;
	bottom: 18px;
	bottom: 1.28571428571rem;
	font-weight:bold;
	font-size:rem-calc(14);
	padding-left: 5px;
	padding-left: 0.35714285714rem;
	}

	.widget-title
	{
	color:#F3F0ED;
	}

	.widget {
	margin-bottom: rem-calc(40);
	}

	.smallprint {
	font-size: 83%;
	}

	.newsletter p {
	margin-bottom: 10px;
	}

	p {
	margin: 0 0 rem-calc(24);
	line-height: 1.6;
		@include breakpoint(medium only)
		{
		font-size:rem-calc(14);
		}
	}
	
	li {
		@include breakpoint(medium only)
		{
		font-size:rem-calc(14);
		}
	}

}

.sub-footer-container {
	max-width: 100%;
	width: 100%;
	border-top: 1px solid #ccc;
	padding:rem-calc(40);
	background-color:#ffffff;
    background-image: url(../images/restaurant-bk.jpg);
    background-size: cover;
    background-position-y: -384px;
		article {
		background: rgba(54, 54, 54, 0.75);
		text-align: center;
		padding: 2em;
		color: #fff;
			a{
			color: #fff;
			}
		}
}


