.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #eeeeee;
    padding-top: 0;
	text-decoration:none;
    padding-bottom: 0;
    font-weight: normal;
    font-size: 0.9rem;

    &:hover:not(.button) {
      color:#eeeeee;
	  background-color:scale-color($primary-color, $lightness: -14%);
    }
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
      border-right: 1px solid scale-color($primary-color, $lightness: 10%);
    }
  }

  .dropdown.menu .submenu {
    background-color: $primary-color;
    color: #eeeeee;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }

}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
