.top-bar {

	.top-bar-left{
	@include breakpoint(medium only) 
		{ 
		padding-left:rem-calc(6);
		}
	}

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding-top: 0;
	text-decoration:none;
    padding-bottom: 0;
    font-weight: normal;
    font-size: 0.8rem;

    &:hover:not(.button) {
      color:#eeeeee;
	  background-color:scale-color($harveys-primary-color, $lightness: -14%);
    }
  }

  /*
  added because this rule in navigaton.scss is giving menu text an extra 1rem of padding which it doesn't need. Has the .menu-text class gone from the LI ?? Is that the cause?
  */
  .menu>li:not(.menu-text)>a {
    padding-top: 0;
	@include breakpoint(medium) {
	padding-left:rem-calc(10);
	padding-right:rem-calc(10);
	}
	@include breakpoint(large) {
	padding-left:rem-calc(15);
	padding-right:rem-calc(15);
	}
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
	  border-right: 1px solid scale-color($harveys-primary-color, $lightness: -10%)
    }
  }
  
  .current-menu-item{
  @include breakpoint(medium){
	background-color: scale-color($harveys-primary-color, $lightness: 10%)
	}
  }
  
   .current-menu-item a{
  @include breakpoint(small only){
	font-weight:bold;
	}
  }
  

  .dropdown.menu .submenu {
    background-color: $harveys-primary-color;
    color: #ffffff;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }

}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  p {
    margin-bottom:0;
  }
}
