.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    padding-top: 0;
	text-decoration:none;
    padding-bottom: 0;
    font-weight: normal;
    font-size: 0.8rem;

    &:hover:not(.button) {
      color:#2a2a2a;
	  background-color:scale-color($harveys-primary-color, $lightness: -14%);
    }
  }

  /*
  added because this rule in navigaton.scss is giving menu text an extra 1rem of padding which it doesn't need. Has the .menu-text class gone from the LI ?? Is that the cause?
  */
  .menu>li:not(.menu-text)>a {
    padding-top: 0;
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
      border-right: 1px solid #d8a1a1;
    }
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }

}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
